* {
  margin: 0;
  line-height: 120%;
}

body {
  background-color: white;
  font-family: "Inter";
}

.hero {
  display: flex;
  flex-direction: column;
  padding: 2.22dvw 5dvw 0dvw 5dvw;
  gap: 3.33dvw;
}

a,
a:visited {
  color: inherit;
  text-decoration: inherit;
}

/* ----- Ongoing Projects section ------- */
#ongoing-project-view {
  margin-top: 8.33dvw;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.11dvw;
  color: #fff;
}

#ongoing-project-view .bg-image {
  position: absolute;
  top: 2.2dvw;
  left: 50%;
  width: 54.7%;
  z-index: -1;
  transform: translate(-37%, 0);
}

#ongoing-project-view .heading {
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5dvw;
}

#ongoing-project-view .menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 1.11dvw;
  gap: 0.55rem;
}

#ongoing-project-view .menu hr {
  width: 5.51rem;
  height: 0px;
  border: 0.167rem solid #fff;
}

#ongoing-project-view .menu h2 {
  font-size: 1.67rem;
  letter-spacing: calc(1.67rem * 0.24);
  font-weight: bolder;
}

#ongoing-project-view .heading h1 {
  font-size: 3.34rem;
  font-weight: bold;
}

#ongoing-project-view .heading p {
  width: 100%;
  font-size: 1.67rem;
  font-weight: normal;
  text-align: center;
  word-wrap: break-word;
}

.ongoing-project {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  gap: 1.67dvw;
}

.ongoing-project h2 {
  font-size: 2.22rem;
  font-weight: bold;
}

.ongoing-project .project-list {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 3.33dvw;

  transition: width height 800ms ease;
}

.ongoing-project .project-card {
  width: 11%;
  display: flex;
  padding: 2.22dvw;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5dvw;

  border-radius: 2.22dvw;
  border: solid 2px transparent;
  background: rgba(185, 185, 185, 0.3);
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.15);
  backdrop-filter: blur(18px);

  transition: border 800ms ease;
}

.ongoing-project .project-card.active {
  width: 18.3%;
}

.ongoing-project .project-card:hover {
  border: solid 2px #8cc53e;
}

.ongoing-project .project-card.active:hover {
  border: solid 2px transparent;
}

.ongoing-project .project-card .content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.25dvw;
  color: #000000;
}

.ongoing-project .project-card.active .content {
  align-items: start;
}

.ongoing-project .project-card .content img {
  width: 66%;
  aspect-ratio: 1;
}

.ongoing-project .project-card.active .content img {
  width: 33%;
  aspect-ratio: 1;
}

.ongoing-project .project-card .content h3 {
  width: 100%;
  font-size: 1.12rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-style: normal;
  font-weight: bold;
}

.ongoing-project .project-card.active .content h3 {
  font-size: 1.34rem;
}

.ongoing-project .project-card .content .status {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.8dvw;

  width: 100%;
  height: 0.5rem;
  font-size: 0.84rem;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
}

.ongoing-project .project-card.active .content .status {
  height: 0.67rem;
  font-size: 1.12rem;
}

.ongoing-project .project-card .button-primary {
  display: none;
}

.ongoing-project .project-card.active .button-primary {
  display: flex;
}

.button-primary {
  width: calc(100% - 3.34rem);
  display: flex;
  padding: 0.55rem 1.67rem;
  margin: 0;
  justify-content: center;
  align-items: center;
  gap: 0.55rem;

  border: transparent;
  border-radius: 720px;
  background: #8cc53e;

  font-size: 1.12rem;
  font-weight: bold;
  color: #fff;
}

.button-primary img {
  height: 1.67rem;
  width: 1.67rem;
}

.button-primary.white-arrow img {
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%)
    contrast(103%);
}

.button-primary.black-arrow img {
  filter: invert(0%) sepia(100%) saturate(0%) hue-rotate(93deg) brightness(0%)
    contrast(103%);
}

.indicator-list {
  width: 100%;
  height: 1.34rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1.34rem;
}

.indicator {
  height: 80%;
  aspect-ratio: 1;
  background-color: #808080;
  border-radius: 50%;
}

.indicator.active {
  height: 120%;
  background-color: #8cc53e;
}

/* -------------------------------------- */

/* -------- Your Project Section ---------*/

#your-projects {
  width: calc(100% - 4.44dvw);
  display: flex;
  flex-direction: row;
  padding: 3.33dvw 2.22dvw;
  gap: 20%;
}

#your-projects h2 {
  font-size: 3rem;
  font-weight: 800;
  margin-bottom: 2.22dvw;
  color: #111;
}

.projects-container {
  flex: 3;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  align-items: center;
  position: sticky;
  top: calc(8.35rem + 2.22dvw);
  align-self: flex-start;
}

.project-preview {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2dvw;
}

.project-preview img {
  width: 20rem;
  max-width: 100%;
}

.project-tags {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 2.22rem;
}

.tag {
  display: flex;
  padding: 0.84rem 1.67rem;
  justify-content: center;
  align-items: center;
  gap: 0.4rem;
  border-radius: 720px;
  border: 0.15rem solid #8cc53e;
  background-color: transparent;
  color: #8cc53e;
  text-align: center;
  font-size: 1.34rem;
  font-weight: bold;
  cursor: pointer;
}

.tag.active {
  background: #8cc53e;
  color: #fff;
}

.project-list-right {
  height: min-content;
  flex: 4;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.project-card-right {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 1.67rem;
  padding: 1.67rem 2rem;
  border-radius: 12px;
  background: #f6f6f6;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.06);
  border: 1px solid transparent;
  transition: all 0.3s ease;
}

.project-card-right.completed {
  background: rgba(140, 197, 62, 0.1);
  border-color: #8cc53e;
}

.project-card-right.cancelled {
  background: rgba(255, 99, 99, 0.1);
  border-color: #ff6363;
}

.project-card-right.retention {
  background: rgba(99, 156, 255, 0.1);
  border-color: #639cff;
}

.project-card-right.ongoing {
  background: rgba(128, 128, 128, 0.1);
  border-color: #808080;
}

.project-card-right .meta {
  height: 3.6rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: start;
  justify-content: space-between;
  text-align: start;
}

.project-card-right .meta img {
  height: 120%;
  border-radius: 8px;
}

.project-card-right .meta h3 {
  width: calc(100% - 3rem);
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  overflow-wrap: nowrap;
  font-size: 1.67rem;
}

.project-card-right .meta p {
  margin: 0;
  font-size: 1.33rem;
}

.project-card-right .button-primary {
  display: flex;
  padding: 16px 24px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  align-self: stretch;

  text-align: center;
  font-size: 1.45rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;

  background-color: #fff;
  color: #000;
}
