* {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

html {
  /* font-size: clamp(1rem, 1.67dvw, 1.5rem); */
}

body {
  background-color: white;
  margin: 0;
  padding: 0;
}

.right-up-bg {
  position: fixed;
  top: 0;
  right: 0;
  width: 300px;
  height: auto;
  z-index: -1;
  pointer-events: none;
  display: block;
}

.right-up-bg img {
  width: 300px;
  height: 300px;
}

.left-bottom-bg {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 300px;
  height: 400px;
  z-index: -1;
  pointer-events: none;
  display: block;
}
.left-bottom-bg img {
  width: 600px;
  height: 600px;
}

/* section */
.contact-section {
  text-align: center;
  padding: 100px 20px;
}

.contact-section h1 {
  font-size: 36px;
  font-weight: 700;
}

.subtitle {
  color: #777;
  margin-bottom: 40px;
}

.contact-container {
  display: flex;
  justify-content: center;
  align-items: stretch;
  gap: 40px;
  max-width: 1180px;
  margin: 0 auto;
  flex-wrap: wrap;
}

.bg-bottom-right {
  position: absolute;
  bottom: -50px;
  right: -50px;
  width: 200px;
  height: 200px;
  pointer-events: none;
  display: block;
}

.bg-bottom-right img {
  width: 100%;
  height: 100%;
}

.contact-info {
  flex: 1;
  background-color: #95bd5e;
  color: white;
  padding: 40px;
  border-radius: 10px;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  position: relative;
  overflow: hidden;
}

.contact-info h2 {
  margin-bottom: 40px;
  font-size: 22px;
}

.info-text {
  margin-bottom: 20px;
  color: #c9c9c9;
}

.info-text p {
  height: 100px;
}

.info-item {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  margin-bottom: 20px;
}

.icon img {
  height: 24px;
  width: 24px;
}

.social-icons {
  margin-top: 30px;
}

.social-icons img {
  width: 24px;
  height: 24px;
}

.social-icons a {
  font-size: 20px;
  color: white;
  text-decoration: none;
  margin-right: 10px;
  transition: opacity 0.2s;
}

.social-icons a:hover {
  opacity: 0.7;
}

.contact-form {
  flex: 1.5;

  text-align: left;
}

form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-row {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.form-group {
  flex: 1;
  display: flex;
  flex-direction: column;
}

label {
  font-weight: 500;
  margin-bottom: 5px;
}

input,
textarea {
  border: none;
  border-bottom: 1px solid #ccc;
  padding: 8px 0;
  font-size: 14px;
  outline: none;
}

input:focus,
textarea:focus {
  border-color: #8fc76a;
}

.radio-group {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

textarea {
  resize: none;
  height: 80px;
}

.send-btn {
  align-self: flex-end;
  background-color: #8fc76a;
  color: white;
  border: none;
  padding: 12px 24px;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.2s, transform 0.2s;
}

.send-btn:hover {
  background-color: #7cb859;
  transform: translateY(-2px);
}

/* Responsif */
@media (max-width: 768px) {
  nav ul {
    gap: 16px;
  }

  footer {
    padding: 32px 16px;
  }
}

@media (max-width: 900px) {
  .contact-container {
    flex-direction: column;
  }
}
